
128dopc_4232wat_mod_whole.pdb
128dopc_kalp23_initial.pdb
data.128dopc_4232wat_mod*
data.128dopc_kalp23
data.kalp23*
forcefield.128dopc_kalp23*
in.gas
kalp23.crd
kalp23_initial_placed.pdb
kalp23_leap.pdb
kalp23.top
leapcom
leap.log
log.lammps
push.dcd
restart.*
128dopc_kalp23_pushed.pdb
data.128dopc_kalp23_pushed
